.sec {
    height: 100vh;
}

#sec2 {
    height: 30vh;
    padding-top: 10vh;
}

#sec3 {
    /* height: 40vh; */
}

#sec4 {
    height: 25vh;
    padding-top: 10vh;
}

.destaque {
    margin: 0;
    width: 100vw;
    height: 20vh;
    background-color: #000000;
    color: #FFFFFF;
    font-size: 20px;
}

.destaque > p {
    width: 45vw;
    line-height: normal;
}

.card {
    margin-bottom: 15px;
}

.foto-galeria {
    padding: 15px;
}

.persona {
    width: 250px;   
    margin-top: 30px;
}